<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- BookMapper对应xml -->
<mapper namespace="com.bs.mall.mapper.OrderCommentMapper">
	
	
	
	
		<!--将用户的评价表单提交到数据库 -->
	  <insert id="addOrderComment" parameterType="com.bs.mall.pojo.OrderComment">
        insert into t_order_comment(<include refid="orderCommentColumn"/>) values(#{evalution.orderId},#{evalution.userId},#{evalution.orderCommentContent},#{evalution.orderCommentSpScore},#{evalution.orderCommentFwScore},#{evalution.orderCommentWlScore},#{evalution.orderCommentCreatetime})
    </insert>
	<!-- 获取用户评价商品的详细信息 -->
	
	<select id="selectBookCommentDetail" resultMap="resultOrder">
	select <include refid="OrderColumn"/> from t_book b,t_book_order bo,t_order o where o.order_id=#{orderId} and o.order_id=bo.order_id and bo.book_id=#{bookId} and bo.book_id=b.book_id;
	
	</select>
	
	<!--查询书籍的作者信息  -->
	<select id="selectBookOfAuthor" resultMap="resultAuthor">
	select a.author_name from t_book_author ba,t_author a where ba.book_id=#{bookId} and ba.author_id=a.author_id;	
	</select>
	
	<!--作者信息的匹配  -->
	<resultMap type="com.bs.mall.pojo.Author" id="resultAuthor" autoMapping="true"></resultMap>
	
	<!--商品信息的匹配  -->
	<resultMap type="com.bs.mall.pojo.Order" id="resultOrder" autoMapping="true"></resultMap>
	
<sql id="orderCommentColumn">order_id,user_id,order_comment_content,order_comment_sp_score ,order_comment_fw_score,order_comment_wl_score,order_comment_createtime</sql>
<sql id="OrderColumn">b.book_name,b.book_profile,b.book_cover_image,b.book_sales_price,o.total_price,bo.book_num </sql>
</mapper>